<!DOCTYPE html>
<html>
    <head>
        <title>BarHopper</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="Tim O'Bara" content="Tim O'Bara">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

       <%= stylesheet_link_tag    'application' %>



    </head>
    <body class="appear-animate">

        <!-- Page Loader -->
        <div class="page-loader">
            <div class="loader">Loading...
            </div>
        </div>
        <!-- End Page Loader -->

        <!-- Page Wrap -->
         <div class="page" id="top">

            <!-- Home Section -->
            <section class="home-section bg-dark-alfa-30 parallax-2" data-background="/assets/black.png" id="home">
                <div class="js-height-full">

                    <!-- Hero Content -->
                    <div class="home-content">
                        <div class="home-text">


                    <div class="row">

                        <div class="col-sm-6">
                            <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-50 mt-sm-0">

              </h1>
                            <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                                <div class="banner-content">
                                    <h3 class="banner-heading font-alt">Boston, MA</h3>
                                    <div class="local-scroll">
                                        <%= link_to "Enter", bars_path %>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6 banner-image wow fadeInUp" data-wow-duration="1.2s">

                            <%= image_tag("beer.png") %>
                        </div>

                    </div>
              </div>
                </div>
                </div>
            </section>
        </div>
        <!-- End Page Wrap -->


        <!-- JS -->


        <%= javascript_include_tag 'application.js' %> <script type="text/javascript"> </script>
 </script>
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->

    </body>
</html>



