
body {
    font-family: Arial;
    background:#eee;
}

.barfiller {
    width:75%;
    height:24px;
    background:#fcfcfc;
    border:1px solid #ccc;
    position:relative;
    margin-bottom:10px;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
    -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,.5);
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background:#333;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
    margin-top: -10px;
    padding:2px 4px;
    font-size:11px;
    color:#fff;
    left:0px;
    position:absolute;
    z-index:2;
    background: #333;
}

.barfiller .tip:after {
    border:solid;
    border-color:rgba(0,0,0,.8) transparent;
    border-width:6px 6px 0 6px;
    content:"";
    display:block;
    position:absolute;
    left:9px;
    top:100%;
    z-index:9
}

.barh1 {
    font-size: 26px;
    list-style-type: none;
    padding-top: 30px;
    padding-bottom: -10px;
}

.h1 {
    margin-left: 18px

}

.padsleft {
    margin-top: 10px;
}


.t1 {
  position: relative;
  top: -350px;
  left: 40px;
  color:#fff;
}


