$white: #fff;
$black: #000;
$black-transparent: rgba(0, 0, 0, 0);

.welcome-wrapper {
  background-image: image-url("wood_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
}

.welcome-top-bar {
  background: $black-transparent;
}